{{ "<!--[if lt IE 9]>" | safeHTML }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
{{ "<![endif]-->" | safeHTML }}
<script src="/assets/scripts/vendor/jquery.min.js"></script>
<script src="/assets/scripts/vendor/jquery.lazyload.min.js"></script>
<script src="/assets/scripts/bundle.js"></script>

<script src="/assets/scripts/vendor/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{{ "<!-- Auto Link Maker -->" | safeHTML }}
<script>var _merchantSettings=_merchantSettings || [];_merchantSettings.push(['AT', '10l87c']);(function(){var autolink=document.createElement('script');autolink.type='text/javascript';autolink.async=true; autolink.src= ('https:' == document.location.protocol) ? 'https://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js' : 'http://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(autolink, s);})();</script>